<div class="body">
<form class="app-container" id="taskList" (ngSubmit)="addTask()">
  <h1 class="app-header">What would you buy today?</h1>
  <div class="add-task">
    <input [(ngModel)]="name" name="addtask" type="text" autocomplete="off" placeholder="Add Item / food" class="task-input">
		<input type="submit" value="" class="submit-task" title="Add Task" id="submit" name="addTask">
  </div>
  <ul class="task-list">
		<li class="task-list-item" *ngFor=" let task of tasks; let i = index">
			<label class="task-list-item-label">
        <input type="checkbox">
				<span>{{ task.name }}</span>
			</label>
			<span  (click)="onDelete(index)" class="delete-btn" title="Delete Task"></span>
		</li>
	</ul>
</form>
</div>